.company_homepage_container {
    position: fixed;
    top: 10%;
    margin-left: 35px;
    color: white
}

h1 {
    font-family: 'Poppins', sans-serif;
}

h3 {
    display: inline-block;
    margin: 0;
}

.companySearchForm input {
    background-color: #05181A;
    border: 1px solid #6DAAC0;
    color: white
}

.companySearchForm input:hover {
    background-color: #6DAAC0;
}


.companySearchForm select {
    background-color: #05181A;
    border: 1px solid #6DAAC0;
    color: white
}

.companySearchForm select:hover,
select:active {
    background-color: #6DAAC0;
}

.companySearchForm label {
    font-family: 'Poppins', sans-serif;
}

.companySearchButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 8px;
}


.companyTable {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: static;
    left: 35px;
    margin-top: 8%;
}

.companySearchButtons button,
.companyTable button {
    font-family: 'Poppins', sans-serif;
    width: 150px;
    height: auto;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #05181A;
    box-shadow: 0px 6px 6px #6DAAC0;
    color: white
}


.companySearchButtons button:hover,
.companyTable button :hover {
    height: auto;
    width: 160px;
    background-color: #6DAAC0;
    transition: 0.2s ease-in-out;
}