.containerEmployeeForm {
    margin-top: 10rem;
    margin-left: 12rem;
    color: white;
    width: 70%;
    padding: 20px;
    box-shadow: 0px 6px 6px #6DAAC0;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
}


.personForm label {
    margin-left: 4px;
    font-weight: 300;
}


.personForm input {
    width: 300px;
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 6px;
    height: 26px;
    border: none;
    border-radius: 8px;
    background-color: #05181A;
    border: 1px solid #6DAAC0;
    color: white;
}

.personForm select {
    width: auto;
    height: 40px;
    padding: 6px;
    border-radius: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: none;
    background-color: #05181A;
    border: 1px solid #6DAAC0;
    color: white;
}


.personForm select:focus {
    background-color: #6DAAC0;
    height: 42px;
    transition: 0.2s ease-in-out;
}

.personForm input:focus {
    background-color: #6DAAC0;
    transition: 0.2s ease-in-out;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.personForm .buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.personForm .buttons button {
    width: auto;
    height: auto;
    padding: 10px;
    box-shadow: 0px 6px 6px #6DAAC0;
    border-radius: 8px;
    background-color: #05181A;
    color: white;

}

.personForm .buttons button:hover {
    height: auto;
    width: 60px;
    cursor: pointer;
    background-color: #6DAAC0;
    transition: 0.2s ease-in-out;
}