SideNavBar {
    background-color: 100%;
}

.StatCards {
    position: fixed;
    top: 110px;
    left: 330px;
    display: flex;
    direction: column;
    gap: 40px;
}

.lineGraph {
    margin-top: 380px;
    margin-left: 330px;
    max-width: 590px;
    height: 360px;
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.graphs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
    max-width: 800px;
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.graphCustom {
    font-size: xx-small;
}

.employeesGraph {
    height: auto;

}

.workforceGraph {
    height: auto;
}

.employeesGraph,
.workforceGraph {
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden;
    padding: 10px;
}