.elementContainer {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
}

.elementHomePageContainer {
    margin-top: 6%;
    margin-left: 35px;
    color: white;
}


.elementSearchForm input {
    background-color: #05181A;
    border: 1px solid #6DAAC0;
    color: white;
}

.elementSearchForm input:focus {
    background-color: #6DAAC0;
}


.elementSearchForm select {
    background-color: #05181A;
    border: 1px solid #6DAAC0;
    color: white
}

.elementSearchForm select:focus,
select:active {
    background-color: #6DAAC0;
}


.elementSearchButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 8px;
}

.elementFormComp {
    position: fixed;
    top: 30%;
    left: 30%;
    padding: 30px;
    background-color: #0C7078;
    border: 1px solid #6DAAC0;
    border-radius: 16px;
    z-index: 1;
    color: white;
}

.elementTable {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.elementTable h3 {
    display: inline-block;
    margin: 0;
}

.elementSearchButtons button,
.elementTable button {
    font-family: 'Poppins', sans-serif;
    width: 150px;
    height: auto;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #05181A;
    box-shadow: 0px 6px 6px #6DAAC0;
    color: white
}


.elementSearchButtons button:hover,
.elementTable button:hover {
    height: auto;
    width: 160px;
    background-color: #6DAAC0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}