.departmentForm h2 {
    font-family: 'Poppins', sans-serif;
}

.departmentForm label {
    font-family: 'Poppins', sans-serif;
    margin-left: 4px;
    font-weight: 300;
}

.departmentForm input {
    width: 300px;
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 6px;
    height: 26px;
    border: none;
    border-radius: 8px;
    background-color: #05181A;
    border: 1px solid #6DAAC0;
    color: white;
}

.departmentForm select {
    width: auto;
    height: 40px;
    padding: 6px;
    border-radius: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    border: none;
    background-color: #05181A;
    border: 1px solid #6DAAC0;
    color: white;
}


.departmentForm select:focus {
    background-color: #05181A;
    height: 42px;
    transition: 0.2s ease-in-out;
}

.departmentForm input:focus {
    background-color: #05181A;
    transition: 0.2s ease-in-out;
}




.row {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.departmentForm .buttons {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.departmentForm .buttons button {
    width: auto;
    height: auto;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #05181A;
    color: white;
}

.departmentForm .buttons button:hover {
    border: 1px solid #05181A;
    background-color: #6DAAC0;
    transition: 0.2s ease-in-out;
}