.statCard {
    font-family: 'Poppins', sans-serif;
    height: 150px;
    width: 150px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 14px;
    color: black;
}

h5 {
    margin-top: 10px;
}

h1,
p,
h5 {
    margin: 0;
}

p {
    font-size: 10px;
}

.title {
    height: 40px;
    width: auto;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.metrics {
    display: flex;
    flex-direction: row;
    animation: fadeIn 0.5s ease-in-out forwards;
}

.metrics p {
    margin-top: 8px;
}

.metricsDescription {
    color: red;
    display: flex;
    flex-direction: row;
    animation: fadeIn 0.5s ease-in-out forwards;
}


.decreasing {
    color: red;
}

.increasing {
    color: green;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}