.compensationAddForm {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.compensationAdd {
    border-radius: 20px;
    padding: 2rem;
    background-color: #6DAAC0;
    width: 25em;
    z-index: 2;
}

.compensationAdd input {
    display: block;
    border: 1px solid #6DAAC0;

}

.compensationAdd select {
    display: block;
    border: 1px solid #6DAAC0;
}

.compensationAdd select:focus {
    background-color: #05181A;
    height: 42px;
    transition: 0.2s ease-in-out;
}

.compensationAdd input:focus {
    background-color: #05181A;
    transition: 0.2s ease-in-out;
}

.compensationAdd .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.compensationAdd .buttons button {
    width: auto;
    height: auto;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #05181A;
    color: white;
}

.compensationAdd .buttons button:hover {
    border: 1px solid #05181A;
    background-color: #6DAAC0;
    transition: 0.2s ease-in-out;
}