.container {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
}

.locationHomePageContainer {
    margin-top: 6%;
    margin-left: 35px;
    color: white;
}

.locationSearchForm input {
    display: block;
    width: 180px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #05181A;
    border: 1px solid #6DAAC0;
    color: white;
}

.locationSearchForm input:focus {
    background-color: #6DAAC0;
}


.locationSearchForm select {
    display: block;
    width: 180px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: #05181A;
    border: 1px solid #6DAAC0;
    color: white
}

.locationSearchForm select:focus,
select:active {
    background-color: #6DAAC0;
}


.locationSearchButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 8px;
}

.locationFormComp {
    position: fixed;
    top: 16%;
    left: 30%;
    padding: 30px;
    background-color: #0C7078;
    border: 1px solid #6DAAC0;
    border-radius: 16px;
    z-index: 1;
    color: white;
}


.locationTable {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 8%;
}

.locationTable h3 {
    display: inline-block;
    margin: 0px;
}

.locationSearchButtons button,
.locationTable button {
    font-family: 'Poppins', sans-serif;
    width: 150px;
    height: auto;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #05181A;
    box-shadow: 0px 6px 6px #6DAAC0;
    color: white
}


.locationSearchButtons button:hover,
.locationTable button:hover {
    height: auto;
    width: 160px;
    background-color: #6DAAC0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}